<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FamilyTalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9443523204C2F26002B65E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F944353A204C2F27002B65E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9443545204C2F27002B65E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
